<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" asp-append-version="true" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/magnific-popup.css" type="text/css" />

    <!-- Bootstrap Data Table Plugin -->
    <link rel="stylesheet" asp-append-version="true" href="~/css/components/bs-datatable.css" type="text/css" />

    <!-- Bootstrap File Upload CSS -->
    <link rel="stylesheet" href="~/css/components/bs-filestyle.css" type="text/css" />


    <link rel="stylesheet" asp-append-version="true" href="~/css/responsive.css" type="text/css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/add-on.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="page-content">

            <div class="margin-bottom">
                <div class="flex" id="top-bar-div">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            @* <i class="fa-solid fa-people-simple"></i> *@
                            <img src="~/imageIcons/medium/images (3).png" alt="logo" style="height:50px; width:50px;" />
                            Contact Manager
                        </h1>
                    </div>


                    <div class="flex-1 pr" id="search-box-div">
                        <div class="navbar account-links">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-user"></i>
                                        @User.Identity?.Name
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        Console.WriteLine(User.IsInRole("User"));
                                        <li>
                                         <a asp-controller="Home" asp-action="Index" asp-area="Admin">Admin Home</a>
                                    </li>
                                    }
                                    <li>
                                        <a asp-controller="Auth" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>
                            }
                            else
                            {

                                <ul>
                                    @if (ViewBag.CurrentUrl == "~/Auth/Register")
                                    {
                                        <li>
                                            <a asp-controller="Auth" asp-action="Register" class="nav-active">Register</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Auth" asp-action="Register">Register</a>
                                        </li>
                                    }

                                    @if (ViewBag.CurrentUrl == "~/Auth/Login")
                                    {
                                        <li>
                                            <a asp-controller="Auth" asp-action="Login" class="nav-active">Login</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Auth" asp-action="Login">Login</a>
                                        </li>

                                    }
                                </ul>
                            }
                        </div>

                    </div>
                </div>

            </div>


            <div class="navbar mb">

                <ul>
                    <li>
                        @if (ViewBag.CurrentUrl == "~/Persons/Index")
                        {
                            <a asp-controller="Persons" asp-action="Index" class="nav-active">Persons</a>
                        }
                        else
                        {
                            <a asp-controller="Persons" asp-action="Index">Persons</a>
                        }

                        @if (ViewBag.CurrentUrl == "~/Countries/UploadExcel")
                        {
                            <a asp-controller="Countries" asp-action="UploadExcel" class="nav-active">Upload Countries</a>
                        }
                        else
                        {
                            <a asp-controller="Countries" asp-action="UploadExcel">Upload Countries</a>
                        }

                        @if (ViewBag.CurrentUrl == "~/Persons/UploadExcel")
                        {
                            <a asp-controller="Persons" asp-action="UploadExcel" class="nav-active">Upload Persons</a>
                        }
                        else
                        {
                            <a asp-controller="Persons" asp-action="UploadExcel">Upload Persons</a>
                        }
                    </li>
                </ul>
            </div>

            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.js"></script>

    <script src="~/js/functions.js"></script>
    <script src="~/js/site.js"></script>

    <!-- Bootstrap Data Table Plugin -->
    <script src="~/js/components/bs-datatable.js"></script>


    <!-- Bootstrap File Upload Plugin -->
    <script src="~/js/components/bs-filestyle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>